# deps
node_modules

# next
.next
out
*.tsbuildinfo
next-env.d.ts

# prisma
src/generated

# env
.env
.env.local
.env.*.local

# os
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.vscode
.idea
